spring:
  application:
    name: wallet-service
  datasource:
    url: jdbc:mysql://localhost:3307/wallet_db?createDatabaseIfNotExist=true
    username: root
    password: Akshu46#
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

server:
  port: 8082

jwt:
  secret: MySuperSuperSecretKeyThatIsLongEnough1234
  expiration: 3600000

user-service:
  base-url: http://localhost:8081


